*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: 0;
}
body{
    background:#081b29;
     color: #ededed;
}
.header{
    display: flex;
    padding: 0px 20px; 
    align-items: center;
    z-index: 100;
}
header .logo{
    width: 30%;
    font-size: 45px;
}
header .menu{
    display: flex;
    list-style: none;
    font-size: 28px;
}
header ul.menu>li{
    padding: 12px 20px;
    position: relative;
}
header ul.menu>li>ul{
    position: absolute;
    list-style: none;
    top: 42px;
    width: 170px;
    display: none;
    background-color: black;
}
header ul.menu>li:hover>ul{
    display: block;
}
header ul.menu>li>ul>li{
    padding: 10px;
    border: 1px solid black;
}
.home{
    height: 900px;
    display: flex;
    align-items: top;
    padding: top 10px;
    justify-content: center;
}
.home-content{
    max-width: 600px;
}
.home-content h1 {
    font-size: 40px;
    font-weight: 700;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p {
    font-size: 22px;
}
.home-content .btn-box{
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;

}
.btn-box a{
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 150px;    
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.home-content img{
    width: 260px;
    height: 330px;
    justify-content: center;
}